.content-contact 
    .container-content-contact
        .text-content-contact
            h1 Let's Work Together!
            .heading-content-contact
                p I would like to meet with you to discuss something and opportunities for collabboration
            .detail-content-contact
                .email-contact
                    .icon-contact 
                        <ion-icon name="mail-outline"></ion-icon>
                    p   info@yourdomain.com
                .address-contact
                    .icon-contact 
                        <ion-icon name="home-outline"></ion-icon>
                    p   Jl KH Samanhudi Metro Atom Plaza Bl AKS 1/11, Dki Jakarta
                .phone-contact
                    .icon-contact 
                        <ion-icon name="call-outline"></ion-icon>
                    p   +62 (0) 000 0000 00
        .image-content-contact 
            img(src="assets/images/contact/vector-arrow.png", alt="")
        .form-content-contact
            .input-name 
                input(type="text" placeholder="Name")
            .input-email 
                input(type="text" placeholder="infor@yourdomain.com")
            .input-message
                textarea(name='w3review' rows='4' cols='50' placeholder="Message")
            .button-form
                button
                    p Let's Talk
                    img(src="assets/images/home/banner/arrow.png", alt="")
