.social-contact 
    .social-contact-container 
        .social-item
            .icon-contact
                img(src="assets/images/home/footer/fb.png", alt="")
            p   Facebook
        .social-item 
            .icon-contact
                img(src="assets/images/home/footer/insta.png", alt="")
            p   Instagram
        .social-item
            .icon-contact 
                img(src="assets/images/home/footer/inl.png", alt="")
            p   Linkedin
        .social-item
            .icon-contact 
                img(src="assets/images/home/footer/twitter.png", alt="")
            p   Twitter