.banner-work 
    .banner-work-container 
        .banner-work-text
            h1 Check out some of out amazing projects!
        .banner-work-image 
            img(src="/assets/images/work/banner.png", alt="")