.list-customer-work
  .list-customer-work-title 
    +title("Some of Our Great Customers","Some of the companies we have worked with")
  .list-customer-icon 
    img(src="assets/images/home/list-customer/amazon.png", alt="")
    img(src="assets/images/home/list-customer/Jeep.png", alt="")
    img(src="assets/images/home/list-customer/Careen.png", alt="")
    img(src="assets/images/home/list-customer/Hubspot.png", alt="")
    img(src="assets/images/home/list-customer/Jquery.png", alt="")
    img(src="assets/images/home/list-customer/Canon.png", alt="")
    img(src="assets/images/home/list-customer/FedEx.png", alt="")
    img(src="assets/images/home/list-customer/bitcoin.png", alt="")
    img(src="assets/images/home/list-customer/Irelli.png", alt="")
    img(src="assets/images/home/list-customer/PhiLips.png", alt="")