.products 
    .products-title 
        +title("Our Latest Project","This is the last variety of projects we have worked on")
    .products-container 
        //- .product-item
        //-     .product-info
        //-         .product-name
        //-             h1 M'Course
        //-         .line-white
        //-         .product-detail
        //-             p Online learning application course
        //-     .product-image
        //-         .firstImage 
        //-             img(src="assets/images/work/products/product2.png", alt="")
        +productItem("M'Course","Online learning applycation course","assets/images/work/products/product2.png")
        +productItem("BurgerQ","Applycation for buying and selling fast food online","assets/images/work/products/product3.jpg","assets/images/work/products/product3a.jpg")
        +productItem("POPcorn","Online marketplace for buying and selling popcorn","assets/images/work/products/product4.png")
        +productItem("CoffeJoy","Applycation for buying and selling coffe online","assets/images/work/products/product4.jpg","assets/images/work/products/product4.jpg")
        +productItem("Alpaca","Fundraising and caring for alpacas","assets/images/work/products/product5.jpg")
        +productItem("Shopipiy","Online marketplace for buying and selling clothes","assets/images/work/products/product6.png","assets/images/work/products/product6.png")
        


