.banner-about
    .banner-about-container
        .banner-about-img
            img(src="assets/images/about/banner.png", alt="")
        .banner-about-text 
            h2 Get to know more about us 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt totam consequuntur quas quis, voluptatum maxime et quisquam in saepe voluptatem fuga possimus. Vitae nostrum maxime qui a quod molestias sint?