.moment
    .moment-title 
        +title("Our Moment","Our togetherness in working in the office")
    .moment-image 
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment2.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment1.png", alt="")        
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment3.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment4.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment6.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment5.png", alt="")

    .moment-image 
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment7.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment8.png", alt="")        
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment9.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment10.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment11.png", alt="")
        .layout-moment 
            .layout-img
                img(src="assets/images/about/moment/moment12.png", alt="")