.team
    .team-title 
        +title("Our Great Team","Meet our professional team who will help you")
    .team-members
        //- team-member-items
        +teamItem("assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member2.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member3.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member4.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member5.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member6.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member7.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member8.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member9.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member10.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member11.png","Darlene Robertson","Product Design")
        +teamItem("assets/images/about/team-member/member12.png","Darlene Robertson","Product Design")
