.team
    .team-title 
        +title("Our Great Team","Meet our professional team who will help you")
    .team-members
        //- team-member-items
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
        +teamItem("/assets/images/about/team-member/member1.png","Darlene Robertson","Product Design")
