include mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    link(rel="stylesheet", href="assets/css/style.css")
    title Document
  body
    .main
        .container
          include ./about/header
          .header-nav-mobile
            .btn-close-menu 
              ion-icon(name='close-outline')
            .header-li
              ul
                li 
                  a(href="index.html")
                    h6 Home
                li 
                  a(href="work.html")
                    h6 Works      
                li 
                  a(href="about.html")
                    h6 About
              .header-button-contact      
                li
                  button
                    .text-contact 
                      a(href="contact.html") 
                        p Contact Us
          include ./about/banner
          include ./about/team 
          include ./about/moment
          include ./home/working-spacing
          include ./home/signup
          include ./home/footer
  script(src='./javascript/main.js')  
