.banner 
  .banner-text
    .banner-text-heading
      h2 Make your business 
      h2.heading-color more powerful 
      h2 with us
    .banner-text-content
      p We provide various services to make your business grow and get bigger. Your satisfaction is our first priority.
      
    .banner-button 
      p Get Started -->
  
   

