.customer
  .customer-data
    +customerItem("70K+","We have more than customers")
    +customerItem("100K+","Projects we have completed")
    +customerItem("10M+","People who are helped because of our hard work")
    +customerItem("200+","Support from world-renowned companies")
  .customer-satisfaction
    .customer-satisfaction-heading 
      h2 Customer satisfaction is our first priority
    .customer-satisfaction-content 
      p We serve many customers, ranging from small businesses, medium entrepreneurs, to world-renowned companies. Their satisfaction is our pleasure. We strive to provide the best service by:
    .customer-satisfaction-select
      +customerSelect("../assets/images/customer/select.png","Provide idea support from our creative team")
      +customerSelect("../assets/images/customer/select.png","Provide attractive and professional design services")
      +customerSelect("../assets/images/customer/select.png","Support for service 24 hours a week")
      +customerSelect("../assets/images/customer/select.png","Helping our customers to grow their business")
      +customerSelect("../assets/images/customer/select.png","Provide support to market products through online marketplace ")
