.document 
  .document-title 
    +title("Our Documentation","See what our profile is like and how we work for your business")
  .document-image 
    img(src="assets/images/documentImg/Image.png", alt="")