.header
  .header-brand
    img(src="../assets/images/header/Ellipse.png", alt="",)
  ul.header-nav
    li 
      a(href="#")
        h6 Home
    li 
      a(href="#")
        h6 Works      
    li 
      a(href="#")
        h6 About
  .header-contact 
    .text-contact 
      p Contact Us

    

