include mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
    link(rel="stylesheet", href="assets/css/style.css")
    title Document
  body 
    .main
      .container
          include ./home/header
          .header-nav-mobile
            .btn-close-menu 
              ion-icon(name='close-outline')
            .header-li
              ul
                li 
                  a(href="index.html")
                    h6 Home
                li 
                  a(href="work.html")
                    h6 Works      
                li 
                  a(href="about.html")
                    h6 About
              .header-button-contact      
                li
                  button
                    .text-contact 
                      a(href="contact.html") 
                        p Contact Us
      .banner-container 
        .banner-image
          .banner-image-blue 
            img(src="assets/images/home/banner/vector-blue.png", alt="")
            .banner-image-arrow2 
              img(src="assets/images/home/banner/vector-arrow.png", alt="")
            .banner-image-yellow 
              img(src="assets/images/home/banner/vector-yellow.png", alt="")
            .banner-image-arrow 
              img(src="assets/images/home/banner/vector-arrow2.png", alt="")
            .banner-image-avatar
              img(src="assets/images/home/banner/avatar.png", alt="")
              .banner-image-circle
                img(src="assets/images/home/banner/circle-3colors.png", alt="")
              .banner-image-study 
                img(src="assets/images/home/banner/vector-study.png", alt="")
        .container
          include ./home/banner
      .container
        include ./home/services
      .document-container
        .document-image-hidden
          .document-image-hidden-left
            img(src="assets/images/home/documentImg/image-left.png", alt="")
          .document-image-hidden-right
            img(src="assets/images/home/documentImg/image-right.png", alt="")
        .container 
          include ./home/document
      .bgc-customer
        .container
          include ./home/customer
      .container
        include ./home/working-spacing
      .bg-message-right
        img(src="assets/images/home/message/bg-right.png", alt="")
      .container 
        include ./home/list-customer
      .bgc-message
        .container 
          include ./home/message
      .bg-message-left 
        img(src="assets/images/home/message/bg-left.png", alt="")
      .container 
        include ./home/question
      .bg-testimonial
        .container 
          include ./home/testimonials
      .container 
        include ./home/signup
      .bg-footer
        .container
          include ./home/footer
  script(src='./javascript/main.js')
  
   