.message 
  .message-container
      .message-btn-left
        img(src="../assets/images/message/arrow.png", alt="")
      .message-content
          .message-icon   
            img(src="../assets/images/message/vector.svg", alt="")
          .message-text 
            p We are serious about providing our best service to all the customers we help. Customers satisfaction is our number one priority.
          .message-author 
            h6 Mark Garfield
            h6 CEO & Head of Product
            img(src="../assets/images/message/Group.png", alt="")
      .message-btn-right
        img(src="../assets/images/message/arrow1.png", alt="")
      