.question 
  .question-title 
    +title("Frequently Ask Question","Some of our frequently asked questions")
  .question-container 
    .question-item
      .question-text 
        p What are the services provided to customers?
        hr
      .question-text-sub 
        p Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.
    .question-item
      .question-text 
        p How can I submit a proposal for cooperation?
    .question-item
      .question-text 
        p I come from a faraway place, can collaboration be done full time online through several meeting applications?
    .question-item
      .question-text 
        p How do I get the payment complete?
    .question-item
      .question-text 
        p How long can the collaboration last?
    