.signup 
    .container-signup 
        .signup-text 
            p Are You Ready For
            h3 Start a New Project
        .signup-button
            button
                span Start Now
                img(src="assets/images/signup/Group.png", alt="")
        

