.working-spacing 
  .working-spacing-title 
    +title("Working space","Let’s meet our interior room decoration")
  .working-spacing-image 
    .layout-spacing 
      .layout-img
        img(src="assets/images/working-spacing/Image1.png", alt="")
        p Front working space
    .layout-spacing 
      .layout-img
        img(src="assets/images/working-spacing/Image2.png", alt="")
        p Meeting corner
    .layout-spacing 
      .layout-img
        img(src="assets/images/working-spacing/Image3.png", alt="")
        p Guest meeting room 
    .layout-spacing 
      .layout-img
        img(src="assets/images/working-spacing/Image4.png", alt="")
        p Guest rest room
    .layout-spacing 
      .layout-img
        img(src="assets/images/working-spacing/Image5.png", alt="")
        p Single working space
    .layout-spacing 
      .layout-img
        img(src="assets/images/working-spacing/Image6.png", alt="")
        p Kitchen room