.header
  .header-brand
    img(src="assets/images/home/header/Ellipse.png", alt="",)
  ul.header-nav
    li 
      a(href="index.html")
        h6 Home
    li 
      a(href="work.html")
        h6 Works      
    li 
      a(href="about.html")
        h6 About
  .header-contact
    button
      .text-contact 
        a(href="contact.html") 
          p Contact Us
  .header-btn-menu
    .btn-mobile-menu
      ion-icon(name='menu-outline')
    
  
  
