.services
  .services-title
    +title("Our Services","The various services we provide to make your business more powerful")
    //- h6 Our Services
    //- h3 The various services we provide to make your business more powerful
  .services-content 
    +contentItem("assets/images/home/content-services/icon-1.png","Ideate","We help you develop creative ideas so that your business can grow more rapidly ","assets/images/home/content-services/arrow.png")
    +contentItem("assets/images/home/content-services/icon-2.png","Ideate","We help you develop creative ideas so that your business can grow more rapidly ","assets/images/home/content-services/arrow1.png")
    +contentItem("assets/images/home/content-services/icon-3.png","Ideate","We help you develop creative ideas so that your business can grow more rapidly ","assets/images/home/content-services/arrow1.png")
    +contentItem("assets/images/home/content-services/icon-4.png","Ideate","We help you develop creative ideas so that your business can grow more rapidly ","assets/images/home/content-services/arrow1.png")
    +contentItem("assets/images/home/content-services/icon-5.png","Ideate","We help you develop creative ideas so that your business can grow more rapidly ","assets/images/home/content-services/arrow1.png")
    +contentItem("assets/images/home/content-services/icon-6.png","Ideate","We help you develop creative ideas so that your business can grow more rapidly ","../assets/images/home/content-services/arrow1.png")
