.testimonials
    .testimonials-title 
        +title("Testimonials","Some testimonials from our customers")
    .testimonials-content
        +testimonialsItem("assets/images/home/testimonials/Ellipse1.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse2.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse3.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse4.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse5.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse1.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
