.testimonials
    .testimonials-title 
        +title("Testimonials","Some testimonials from our customers")
    .testimonials-content
        +testimonialsItem("assets/images/home/testimonials/Ellipse1.png","Ronald Richards","Google inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse2.png","Guy Hawkins","Paypal inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse3.png","Kristin Watson","Microsoft inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse4.png","Robert Fox","Facebook inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse5.png","Savannah Nguyen","Twitter inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
        +testimonialsItem("assets/images/home/testimonials/Ellipse1.png","Courtney Henry","Apple inc.",
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.","assets/images/home/testimonials/start.png")
